{% extends "stripe_app/base.html" %}

{% block title %}
  invoice
{% endblock title %}

{% block content %}
<p>Select bank account from the list</p>

<form action="{% url 'stripe_app:proof_payment' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    {% for account in accounts %}
    <div class="form-check">
      <input class="form-check-input" type="radio" name="account" id="exampleRadios1" value="{{account.account_id}}">
      <label class="form-check-label" for="exampleRadios1">
        {{account.name}}
        ********{{account.mask}}
      </label>
    </div>
    {% endfor %}
  </div>
  <input type="submit" value="OK">
<!--  <button id="linkButton">NEXT ></button>-->
</form>
<a href="{% url 'stripe_app:invoice' invoice_id %}">назад</a>

<script>
    const chooseAccount = async () => {
        console.log(this)
      // const response = await fetch("{% url 'auth_app:get_link_token' %}", { method: 'POST', headers: { 'X-CSRFToken': '{{ csrf_token }}' },});
      // const responseJSON = await response.json();
      // if (response.status === 200) return responseJSON.link_token;
      // if (response.status === 400) {
      //     linkButton.disabled = true;
      // }
    };
</script>
{% endblock %}